@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --primary-color: #047AED;
  --secondary-color: #1C3FA8;
  --dark-color: #002240;
  --light-color: #FBFBFF;
  --gray-one: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--gray-one);
  line-height: 1.6;

}

a {
  color: var(--gray-one);
  text-decoration: inherit;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}


/* Navbar */
.wrapper {
  height: 70px;
  background-color: var(--primary-color);
  color: var(--light-color);
}

.wrapper .flex {
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  list-style-type: none;
}

.social a{
  margin: 0 10px;
}

.nav-item a {
  color: var(--light-color);
  padding: 10px;
  font-size: 1.1rem;
  margin-left: 2rem;
}

.nav-item a:hover {
  border-bottom: 3px solid var(--light-color);
}

/*Sidebar*/
.menu-bars {
  display: none;
  margin-left: 2rem;
  font-size: 1.6rem;
  background: none;
  color: #FBFBFF;
}


.nav-sidebar {
  background-color: var(--dark-color);
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0%;
  transition: 850ms;
  z-index: 1;
}

.nav-sidebar.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #FBFBFF;
  font-size: 18px;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  border: 1px solid var(--primary-color);
}

.nav-sidebar-items {
  width: 100%;
}

.navbar-toggle {
  background-color: var(--dark-color);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar-toggle a {
  margin-left: 2rem;
  font-size: 1.6rem;
  background: none;
  color: #FBFBFF;
}

/* Showcase section */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: var(--light-color);
  position: relative;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  background: var(--light-color);
}

.showcase h1 {
  font-size: 2.4rem;
}
.showcase h1 span {
  font-weight: 400;
}
.showcase p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.5rem;
  margin: 20px 0;
}

.card {
  background-color: var(--light-color);
  border-radius: 10px;
  box-shadow: 3px 10px rgba(0, 0, 0, 0.2);
  color: var(--gray-one);
  padding: 20px; 
  margin: 10px;
}

.showcase-form {
  position: relative;
  top: 4rem;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}

.showcase-form .form-control {
  margin: 1.6rem 0;
}

.showcase-form input[type="text"], 
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 0.1rem solid #B4BECB;
  width: 100%;
  padding: 3px;
  font-size: 1rem;  
} 

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
  border-radius: 5px;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-outline {  
  background-color: transparent;
  border: 1px solid var(--light-color);
}

.btn.btn-dark {
  background-color: var(--dark-color);
}

.showcase-form input:focus {
  outline: none;
}

/* Stats */
.stats {
  padding-top: 100px;
  background-color:  var(--light-color);
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 20px;
  color: var(--primary-color);
  margin-top: 1rem;
}

.stats .grid p {
  font-size: 18px;
  color: var(--gray-one);
}

/* cloud */

.cloud {
  height: 325px;
}

.cloud .grid{
  grid-template-columns: 4fr 3fr;
}

.image-cloud {
  width: 80%;
}

/* techs */

.techs .flex {
  flex-wrap: wrap;
} 

.techs {
  text-align: center;
  margin: 50px 10px 40px;
}

.techs p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.techs .card {
  margin-left: 1rem;
  transition: transform 0.2s ease-in;
}

.techs .card h4 {
  font-size: 18px;
  margin-bottom: 13px;
}

.techs .card:hover {
  transform: translateY(-15px);
}

/*footer*/

.footer {
  height: 300px;
  margin-top: 5rem;
}

.icon-footer {
  display: flex;
  padding: 0.3rem;
}

.salmos h2 {
  font-size: 1.4rem;
}

.icon-footer h3 {
  margin-left: 1rem;
}

/*Tablets and under*/
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cloud .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
  }

  .cloud {
    height: 625px;
  }

  .image-cloud {
    margin-top: 1rem;
    margin-left: 4rem;
    width: 70%;
  }
}

@media (max-width: 650px) {
  .wrapper {
    height: 110px;
  }

  .wrapper .flex {
    flex-direction: row;
  }

  .wrapper ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .showcase h1 {
    font-size: 2rem;
  }
  .showcase h1 span {
    font-weight: 400;
  }
  .showcase p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2.5rem;
    margin: 20px 0;
  }
  .social {
    margin-top: 15px;
  }

  .menu-bars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }

  .menu-bars a{
    margin-left: 225px;
  }

  .nav-menu {
    display: none;
  }

  .cloud {
    height: 525px;
  }

  .image-cloud {
    margin-top: 1rem;
    margin-left: 4rem;
    width: 70%;
  }
}