@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;

}

.nav-menu {
  list-style-type: none;
}

a {
  color: #333;
  text-decoration: inherit;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.wrapper {
  height: 70px;
  background-color: #047AED;
  color: #FBFBFF;

}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.logo span {
  font-weight: 400;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-menu {
  display: flex;
}

.nav-item a {
  color: #FFF;
  padding: 10px;
  font-size: 1.2rem;
  margin-left: 2rem;
}

.nav-item a:hover {
  border-bottom: 3px solid #FFF;
}